@import '_vars';


.wrapper {margin: 0 auto; max-width: 100%;}

//Mobile first
@media screen and (max-width: 575px) {



@import 'modules/_navbar.scss';


#video{
max-width: 100%; height: 211px;

img {width: 100%; height: 211px;}

}

#product{
background-color: $m-grey;
width: 100%;
height: 100%;

img{width:100%; height: 50%;}

h2 {text-align: center; font-size: 3em; letter-spacing: 3px; color:$m-font; padding-bottom:10vh;}

p {color: $m-font; font-size: 1.5em; text-align: center; padding-bottom: 12vh;}
}

.img-sec{

    img{ width: 100%; height: 375px;}
}

#for-web{display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
   .img-sec{width: 100%; height: 50%;}
   .pro-sec{background-color: $m-white; width: 100%; height: 50%;
            
    h2{font-size: 35px; line-height: 70px; color:$m-font; text-align: center; margin-top: 5vh;}
    p{font-size: 21px; line-height: 25px; color:$m-font; text-align: center;  margin-top: 41px; margin-bottom: 5vh;}
}
}

#contact{display: flex; flex-direction: column-reverse; width: 100%; height:100%;}
    
.cont-info{ background-color: $m-white; width: 100%;
    h2{font-size: 2em; line-height: 50px; color:$m-font; text-align: center; padding-top:10vh;}
        p{font-size: 1.5em; line-height: 45px; color:$m-font; text-align: center; padding:3vh;}}
        
    .cont-img{ width: 100%; height: 50%;
        img { width: 100%; height: 100%;}}

    #easy-to{display:flex; flex-direction: column-reverse; width: 100%; height: 100%;
                    .easy-text{width: 100%; padding-top: 10vh;}
                        h2{font-size: 2.5em; color:black; padding-bottom: 10vh; text-align: center;}
                        p{font-size: 1.5em; color:$m-font; line-height: 30px; text-align: center;}
                    .easy-text img{width: 100%;}
            }
            
            .tech-h2{font-size: 2em; color: $m-font; margin-top: 15vh; margin-bottom: 30vh; text-align: center;}
            
            //mysql will be here
            #tech-spec{display:flex; flex-direction: column;
                       margin: 2%;
                       
            
               .feature{width:350px;
                        height: 250px;
                        color: $m-white;
                   img{width: 51px; height: 51px;}
                   h2{font-size: 20px;
                       color: $m-font;}
                p{font-size: 17px; color: $m-font;}
               }
            
               .sensors{width:350px;
                   height: 250px;
                   color: $m-white;
              img{width: 51px; height: 51px;}
              h2{font-size: 20px;
                  color: $m-font;
                  margin-top: -150px;}
               p{font-size: 17px; color: $m-font;}
               }
            
               .language{width:350px;
               height: 250px;
               color: $m-white;
               img{width: 51px; height: 51px;}
               h2{font-size: 20px;
               color: $m-font;
               margin-top: -150px;}
               p{font-size: 17px; color: $m-font;}
               }
            
            
               .colour{width:350px;
               height: 250px;
               color: $m-white;
               img{width: 51px; height: 51px;}
               h2{font-size: 20px;
               color: $m-font;
               margin-top: -150px;}
               p{font-size: 17px; color: $m-font;}
               }
            
            
               .wireless{width:350px;
               height: 250px;
               margin: 1.5%;
              color: $m-white;
              img{width: 51px; height: 51px;}
              h2{font-size: 20px;
              color: $m-font;
              margin-top: -150px;}
              p{font-size: 17px; color: $m-font;}
              }
            
            }//tech section


@import 'modules/_footer.scss';

} // mobile size ends


@media screen and (min-width: 576px) and (max-width: 768px){

    @import 'modules/_navbar.scss';


    #video{
        max-width: 100%; height: 432px;
        
        img {width: 100%; height: 432px;} }
        
     #product{
        background-color: $m-grey;
        width: 100%;
        height: 672px;

        img{width:100%; height: 50%;}
        
        h2 {text-align: center; font-size: 3em; letter-spacing: 3px; color:$m-font; padding-bottom:1vh; margin-top:-13vh;}
        
        p {color: $m-font; font-size: 1.5em; text-align: center; padding-bottom: 8vh;}
        }
        //product section ends

        #for-web {display: flex; flex-direction: row; width: 100%;

            .img-sec{ width: 50%; height: 384px; 
                img { width: 100%; height: 100%;}}
     
        
            .pro-sec{background-color: $m-white; width: 50%;
            
            h2{font-size: 35px; line-height: 70px; color:$m-font; text-align: center; margin-top: 133px;}
            p{font-size: 21px; line-height: 25px; color:$m-font; text-align: center;  margin-top: 41px; margin-bottom: 104px;}
        }}


    #contact{display: flex; flex-direction: row; width: 100%; height:100%;}
    
    .cont-info{ background-color: $m-white; width: 50%;}
        h2{font-size: 40px; line-height: 50px; color:$m-font; text-align: center; padding-top:20vh;}
        p{font-size: 30px; line-height: 45px; color:$m-font; text-align: center; padding:3vh;} 
            
                .cont-img{ width: 50%; height: 50%;}
                    img { width: 100%; height: 100%;}


#easy-to{display:flex; flex-direction: row; width: 100%; height: 100%;
        .easy-text{width: 50%;}
            h2{font-size: 2em; color:black;}
            p{font-size: 25px; color:$m-font; line-height: 30px;}
        .easy-text img{width: 60%;}
}

.tech-h2{font-size: 2em; color: $m-font; margin-bottom: 10vh;}

//mysql will be here
#tech-spec{display:flex; flex-wrap: wrap;
           margin: 2%;
           

   .feature{width:350px;
            height: 250px;
            color: $m-white;
            margin: 0.5%;
       img{width: 51px; height: 51px;}
       h2{font-size: 20px;
           color: $m-font;
           margin-top: -150px;}
    p{font-size: 17px; color: $m-font;}
   }

   .sensors{width:350px;
       height: 250px;
       color: $m-white;
       margin: 0.5%;
  img{width: 51px; height: 51px;}
  h2{font-size: 20px;
      color: $m-font;
      margin-top: -150px;}
   p{font-size: 17px; color: $m-font;}
   }

   .language{width:350px;
   height: 250px;
   color: $m-white;
   margin: 0.5%;
   img{width: 51px; height: 51px;}
   h2{font-size: 20px;
   color: $m-font;
   margin-top: -150px;}
   p{font-size: 17px; color: $m-font;}
   }


   .colour{width:350px;
   height: 250px;
   color: $m-white;
   margin: 1.5%;
   img{width: 51px; height: 51px;}
   h2{font-size: 20px;
   color: $m-font;
   margin-top: -150px;}
   p{font-size: 17px; color: $m-font;}
   }


   .wireless{width:350px;
   height: 250px;
   margin: 1.5%;
  color: $m-white;
  img{width: 51px; height: 51px;}
  h2{font-size: 20px;
  color: $m-font;
  margin-top: -150px;}
  p{font-size: 17px; color: $m-font;}
  }

}//tech section

@import 'modules/_footer.scss';
        
} // tablet size ends


@media screen and (min-width: 769px) {

    @import 'modules/_navbar.scss';


    #video{
        max-width: 100%; height: 720px;
        
        img {width: 100%; height: 720px;}}
        
    #product{
        background-color: #c6c6c6;
        width: 100%;
        height: 100%;
        
        img{width: 100%; height: 720px;}
        
        h2 {text-align: center; font-size: 80px; line-height: 40px; letter-spacing: 3px; color:$m-font; padding-bottom:1vh; margin-top:-13vh;}
        
        p {color: $m-font; font-size: 30px; line-height: 25px; text-align: center; padding-top: 15vh; padding-bottom:5vh;}}

        //product section ends//
        
     #for-web {display: flex; flex-direction: row; width: 100%; height: 100%;}

        .img-sec{ width: 50%; height: 50%;}
            img { width: 100%; height: 100%;}
     
    
        .pro-sec{background-color: $m-white; width: 50%;}
        
        h2{font-size: 50px; line-height: 70px; color:$m-font; text-align: center; padding-top:15vh;}
        p{font-size: 21px; line-height: 25px; color:$m-font; text-align: center; padding-top:5vh; }
        // for-web section ends//

    #contact{display: flex; flex-direction: row; width: 100%; height:100%;}
    
        .cont-info{ background-color: $m-white; width: 50%;}
            h2{font-size: 40px; line-height: 50px; color:$m-font; text-align: center; padding-top:15vh;}
            p{font-size: 30px; line-height: 45px; color:$m-font; text-align: center; padding:3vh;} 
                
                    .cont-img{ width: 50%; height: 50%;}
                        img { width: 100%; height: 100%;}

 // easy-section 마진이 떠요 이것좀 봐줄래요? 
    #easy-to{display:flex; flex-direction: row; width: 100%; height: 100%;
                .easy-text{width: 40%;}
                h2{font-size: 3em; color:black; margin-top:-10vh;}
                p{font-size: 25px; color:$m-font; line-height: 30px;}
                .easy-text img{width: 60%;}
        }

        .tech-h2{font-size: 2em; color: $m-font; margin-bottom: 10vh;}

     //mysql will be here
    #tech-spec {
        // display:flex; flex-wrap: wrap;
                margin: 2%;
                

        .feature{width: 600px;
                 height: 250px;
                 color: $m-white;
                 margin: 0.5%;
            img{width: 51px; height: 51px;}
            h2{font-size: 20px;
                color: $m-font;
                margin-top: -150px;}
         p{font-size: 17px; color: $m-font;}
        }

        .sensors{width:350px;
            height: 250px;
            color: $m-white;
            margin: 0.5%;
       img{width: 51px; height: 51px;}
       h2{font-size: 20px;
           color: $m-font;
           margin-top: -150px;}
        p{font-size: 17px; color: $m-font;}
        }

        .language{width:350px;
        height: 250px;
        color: $m-white;
        margin: 0.5%;
        img{width: 51px; height: 51px;}
        h2{font-size: 20px;
        color: $m-font;
        margin-top: -150px;}
        p{font-size: 17px; color: $m-font;}
        }


        .colour{width:350px;
        height: 250px;
        color: $m-white;
        margin: 1.5%;
        img{width: 51px; height: 51px;}
        h2{font-size: 20px;
        color: $m-font;
        margin-top: -150px;}
        p{font-size: 17px; color: $m-font;}
        }


        .wireless{width:350px;
        height: 250px;
        margin: 1.5%;
       color: $m-white;
       img{width: 51px; height: 51px;}
       h2{font-size: 20px;
       color: $m-font;
       margin-top: -150px;}
       p{font-size: 17px; color: $m-font;}
       }

    }//tech section

    @import 'modules/_footer.scss';
            
}
//desktop media query
    
    
    
    
    
    
        


