{{!-- the same thing like index.html --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <main class="wrapper">
        {{!-- Header Start Here --}}
        <header class="mainHeader">
            <img src="images/logo-full.svg">
        </header>


        {{!-- Footer Start Here --}}
        <footer class="mainFooter">
            <img src="images/logo-full.svg" alt="footerLogo">
            <div class="socialIcons">
                <img src="images/social-facebook.svg" alt="facebook">
                <img src="images/social-instagram.svg" alt="instagram">
                <img src="images/social-twitter.svg" alt="twitter">
                <img src="images/social-youtube.svg" alt="youtube">
            </div>
            <p>© 2019 HouseCOM ThermoSecurity System</p>
        </footer>
    </main>
</body>
</html>