{{!-- the same thing like index.html --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <main class="wrapper">
        {{!-- Header Start Here --}}
        <header class="mainHeader">
            <img src="images/logo-full.svg">
        </header>
        <!-- Nav ends -->
        <section id="video">
        <video controls>
            <source src="images/mainvideo.mp4" type="video/mp4">
        </video>
        </section>
        <!-- Video ends -->
        <!-- Our product introduces -->
        <section id="product">
            <img src="images/mainImg.jpg">
            <h2>Lock In Confidence</h2>
            <p>HouseCom ThermoSecurity Systems provide the most secure,<br>
            reliable and functional home security<br>
            and control system for you, your family, and your home.</p>
        </section>
        <!-- images for design -->
        <section id="for-web">
        <div class="img-sec">
        <img src="images/concept-product1.jpg"></div>
        <!-- Security info -->
        <div class="pro-sec">
            <h2>Top-Level Security</h2>
            <p>Feel confident in your home’s<br> safety even when you’re away.<br> We’ve got you covered.</p></div>
        </section>
        <!-- images for design -->
        <section id="contact">
        <div class="cont-info">
            <h2>Connect With Us</h2>
            <p>Control and Moderate your household from your pocket – all the functionality of the wall mount and more at your fingertips.</p></div>
        <div class="cont-img">
            <img src="images/concept-product2.jpg"></div></section>
        <section id="easy-to">
            <div class="easy-text">
               <h2>Easy-to-Navigate<br>Interface</h2> 
               <p>Don’t stress about confusing dials<br>
                 and hard-to-read instructions. Our sleek,<br>
                 user-first design will take the hassle out of maintaining<br>
                  your home’s comfort.</p>
            </div>
            <img src="images/concept-product3 small.jpg">
        </section>
        
           <hr>
           {{{ body }}}  
           <hr> 

        <h2 class="tech-h2">Tech Spec</h2>
         
        <section id="tech-spec">


            <div class="feature">
            <img src="images/icon-features.svg">
            <h2>Features</h2>
            <p>Sleek, modern designs fit beautifully into your home.</p>
            </div>
            <div class="sensors">
            <img src="images/icon-sensor.svg">
            <h2>Sensors</h2>
            <p>Ultra-sensitive so you’ll never be missed.</p>
            </div>
            <div class="language">
            <img src="images/icon-language.svg">
            <h2>Language</h2>
            <p>Many different languages so you’re always heard.</p>
            </div>
            <div class="colour">
            <img src="images/icon-color-wheel.svg">
            <h2>Colour</h2>
            <p>Many different languages so you’re always heard.</p>
            </div>
            <div class="wireless">
               <img src="images/icon-wireless.svg">
               <h2>Wireless</h2>
               <p>Say goodbye to complicated wiring and hello to simple set up.</p>
            </div>
        </section>


        {{!-- Footer Start Here --}}
        <footer class="mainFooter">
            <img src="images/logo-full.svg" alt="footerLogo">
            <div class="socialIcons">
                <img src="images/social-facebook.svg" alt="facebook">
                <img src="images/social-instagram.svg" alt="instagram">
                <img src="images/social-twitter.svg" alt="twitter">
                <img src="images/social-youtube.svg" alt="youtube">
            </div>
            <p>© 2019 HouseCOM ThermoSecurity System</p>
        </footer>
    </main>
</body>
</html>