.mainFooter {
    width: 100%;
    height: 125px;
    background-color: #D7D7D7;
}

.mainFooter img {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.socialIcons {
    display: flex;
    margin: 0 auto;
    width: 165px;
    height: 30px;
}